<?xml version="1.0"?>
<launch>
    <include file="$(find multirobot_costmap_projector)/launch/master_discovery.launch"/>
    <include file="$(find multirobot_costmap_projector)/launch/master_sync.launch"/>
    <!-- mux (multiplexer) for /cmd_vel -->
    <node pkg="multirobot_costmap_projector" type="projector.py" name="projector"/>
</launch>